 body {
        font-family: Arial;
        padding: 20px;
        display: flex;
      align-items: center;
      flex-direction: column;
      font-family: Arial;
      padding: 20px;
      background-color:  rgb(157, 189, 238);
    }
    input {
      margin: 5px;
      padding: 5px;
      width: 300px;
      }
      #qrcode {
        margin-top: 20px;
      }